<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Ecl -->
      <package
            uri="org.akitta.snomed.ecl.model.ecl"
            class="org.akitta.snomed.ecl.model.ecl.EclPackage"
            genModel="model/Ecl.xcore"/>
   </extension>

</plugin>
